# vscode
.vscode/
*.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
questionario.code-workspace*

##### INICIO - exclusao homeassistant
# Ignore folders.
.storage
.cloud
.google.token
.HA_VERSION
secrets.yaml
home-assistant_*.db
zz-2018-06-08*
##### FIM - exclusao homeassistant

#pycharm
*.idea
